{% extends "account/base_manage.html" %}
{% load allauth i18n %}
{% block extra_head %}
<style>
    html, body {
        height: 100%;
    }
    .form-container {
        max-width: 350px;
        padding: 1rem;
    }
</style>
{% endblock extra_head %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
<div class="form-container">
    {% element h1 %}
        {% trans "Sign Out" %}
    {% endelement %}
    <p>{% trans 'Are you sure you want to sign out?' %}</p>
    {% url 'account_logout' as action_url %}
    {% element form method="post" action=action_url no_visible_fields=True %}
        {% slot body %}
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" class="btn btn-primary" %}
                {% trans 'Sign Out' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
</div>
{% endblock content %}
